# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo
*.pyc

# Локальные настройки и кэш
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Данные и конфигурации
face_db/
screens/
logs/
*.npy
*.db
*.sqlite
config.py

# Логи и временные файлы
*.log
*.tmp
*.bak

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальное окружение
venv/
env/
*.venv